<div class="bg">
    <span class="welcome1"><p class=tourism_industry>tourism industry...</p></span> 
    <span class="welcome"> welcome to tourism industry bowrd. here is OST page. are you a student of OCHI zemi...? 
        Many of life’s failures are people who did not realize how close they were to success when they gave up.
        The most important thing is to enjoy your life – to be happy – it’s all that matters.
        The sole meaning of life is to serve humanity.
        If you want to build a ship, don’t drum up the men to gather wood, divide the work and give orders. Instead, teach them to yearn for the vast and endless sea.


    
    </span>
        <img class="bg_img" src="/image/bg.png" alt="">
    
</div>
<div class="login_buttom">
    <!-- <div class=login_btn><button onclick="location.href='/login'" type="button" class="btn btn-outline-primary">login</button>
    </div> -->
    
    <a href="/login" class="lock_on_btn"><span>Login</span></a>



</div>