<form action="/login" method="POST">
  <div class="login_form_row">
    <div class="form-group1">
      <label class="login_name" for="name">Name</label><br>
      <input name="name" type="name" class="login_form_control" id="name" placeholder="name">
    </div><br><br><br><br>
    <div class="form-group2">
      <label class="login_password" for="password">Password</label><br>
      <input name="password" type="password" class="login_form_control1" id="password" placeholder="password">
    </div>
    <br><br>
    <input class="login" type="submit" value="ログイン">
    
   

  </div>
</form>

<br><br><br>

