<div class="col-2"></div>

<div class="col-8">
<h1>PROFILE OF THE STAFF</h1>
<div class="name">教授　越智正樹</div>

<div class="contents">観光には五感の全てが関係しますが、中でも重要なのがやはり「観る」ことです。ですから観光を創ろうとする人は、まずもって自分自身が物事を様々な角度から「観る」ことができねばなりません。
　観光社会学は、観光資源の生滅について、「人と人との相互関係の仕組み」との関連から「観る」分野です。この分野では、資源は自然に生まれてどこかに隠されている、とは考えません。地域の物事に対し、誰かが特定の目的で活用しようと継続的に働きかけた時、初めてその物事が資源として生まれ変わるのです。
　ただし当然、同じ物事を別の目的で活用しようとする人も現れ得ます。また、働きかけが継続しなければ、資源は再びただの物事に戻ります。したがって、観光資源の創生と持続を考えるならば、それに対する人々の働きかけの調整のあり方（人と人との相互関係の仕組み）から「観る」ことが不可欠なのです。
　このように根本から「観る」力を養えば将来、多様な領域で活躍できるでしょう。

　私自身はもっぱら、まち歩き観光やグリーンツーリズム、エコツーリズムなど、いわゆるオルターナティブ・ツーリズムあるいはCBT（コミュニティベースト・ツーリズム）を対象として、公正な観光資源化や、観光による公共的・社会的価値の創出について考究しています。
　一方ゼミでのテーマは、「観光と地域」に関わる範囲内で自由にゼミ生に設定してもらってますので、年度によりメンバーにより、とても多様です。詳しくはゼミメンバーページで、卒論タイトル・要旨や3年次調査タイトルをご覧ください。
</div>
</div>
<div class="col-2"></div>