<form action="/signup" method="POST">
  <div class="signup_form_row">

    <div class="signup_form_group">
      <label for="inputName">Name</label><br>
      <input name="name" type="name" class="signup_form-control" id="inputName" placeholder="Name">
    </div><br><br><br>

    <div class="signup_form_group1">
      <label for="inputEmail4">Email</label><br>
      <input name="email" type="email" class="signup_form-control1" id="inputEmail4" placeholder="Email">
    </div>
    <br><br><br>

    <div class="signup_form_group2">
      <label for="inputPassword4">Password</label><br>
      <input name="password" type="password" class="signup_form-control2" id="inputPassword4" placeholder="Password">
    </div><br><br>

<div class="signup_form_group3">
    <label for="inputGrade4">Grade</label><br>
    <input name="grade" type="grade" class="signup_form-control3" id="inputGrade4" placeholder="Grade">
  </div><br>

    <input class="login" type="submit" value="sign up">
  </div>
</form>